/* @font-face {
	font-family: "iconfont";
	src: url('~@/static/iconfont/iconfont.ttf?t=1590054002803') format('truetype');
	
} */


@font-face {
	font-family: 'fuckuniapp';
	src: url('https://at.alicdn.com/t/font_1700862_ig2vxy9tpgj.eot');
	src: url('https://at.alicdn.com/t/font_1700862_ig2vxy9tpgj.eot?#iefix') format('embedded-opentype'),
		url('https://at.alicdn.com/t/font_1700862_ig2vxy9tpgj.woff2') format('woff2'),
		url('https://at.alicdn.com/t/font_1700862_ig2vxy9tpgj.woff') format('woff'),
		url('https://at.alicdn.com/t/font_1700862_ig2vxy9tpgj.ttf') format('truetype'),
		url('https://at.alicdn.com/t/font_1700862_ig2vxy9tpgj.svg#iconfont') format('svg');
}


.iconfont {
	font-family: "fuckuniapp" !important;
	font-size: 30px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
}

.icon-icon-arrow-right:before {
	content: "\e8a1";
}

.icon-arrow-down:before {
	content: "\e658";
}

.icon-icon-return:before {
	content: "\e641";
}

.icon-type_gupiao:before {
	content: "\e618";
}

.icon-type_life:before {
	content: "\e61d";
}

.icon-type_others:before {
	content: "\e629";
}

.icon-type_CombinedShape:before {
	content: "\e601";
}

.icon-type_hongbao:before {
	content: "\e610";
}

.icon-type_clothes:before {
	content: "\e611";
}

.icon-type_fruit:before {
	content: "\e612";
}

.icon-type_funny:before {
	content: "\e615";
}

.icon-type_sports:before {
	content: "\e616";
}

.icon-yule:before {
	content: "\e617";
}

.icon-type_electric:before {
	content: "\e630";
}

.icon-type_house:before {
	content: "\e635";
}

.icon-type_hospitol:before {
	content: "\e6fd";
}

.icon-type_eat:before {
	content: "\e62e";
}

.icon-type_ditie:before {
	content: "\e633";
}

.icon-jingdian:before {
	content: "\e63d";
}

.icon-canshi:before {
	content: "\e62d";
}

.icon-type_bonus:before {
	content: "\e770";
}

.icon-type_food:before {
	content: "\e773";
}

.icon-type_WaiKuai:before {
	content: "\e779";
}

.icon-type_dayuse:before {
	content: "\e77c";
}

.icon-type_study:before {
	content: "\e77e";
}

.icon-type_online:before {
	content: "\e77f";
}

.icon-type_tour:before {
	content: "\e780";
}

.icon-type_dinner:before {
	content: "\e781";
}

.icon-icon_cloce:before {
	content: "\e6a0";
}

.icon-icon_add:before {
	content: "\e6a1";
}

.icon-icon_days:before {
	content: "\e6a6";
}

.icon-icon_detail:before {
	content: "\e6b1";
}

.icon-icon_setting:before {
	content: "\e6bb";
}

.icon-icon_money:before {
	content: "\e6be";
}

.icon-icon_message:before {
	content: "\e6c1";
}

.icon-icon_error:before {
	content: "\e6c4";
}

.icon-icon_right:before {
	content: "\e6c5";
}

.icon-icon_warnning:before {
	content: "\e6cc";
}

.icon-icon_wechat:before {
	content: "\e6ce";
}

.icon-icon_charts:before {
	content: "\e6d2";
}

.icon-icon_change:before {
	content: "\e6dd";
}

.icon-icon_search:before {
	content: "\e6df";
}

.icon-icon_write:before {
	content: "\e6e6";
}

.icon-icon_menu:before {
	content: "\e66d";
}

.icon-icon_todo:before {
	content: "\e67b";
}

.icon-icon_lock:before {
	content: "\e682";
}

.icon-icon_phone:before {
	content: "\e683";
}

.icon-icon_menu-2:before {
	content: "\e696";
}
