@font-face {
    font-family: Barlow-SemiBoldItalic;
    font-style: Italic;
    src: url('../../../static/font/Barlow-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow-Bold;
    font-weight: Bold;
    src: url('../../../static/font/Barlow-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Barlow-SemiBold;
    src: url('../../../static/font/Barlow-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Barlow-Regular;
    src: url('../../../static/font/Barlow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Barlow-MediumItalic;
    src: url('../../../static/font/Barlow-MediumItalic.ttf') format('truetype');
}
